@media screen and (min-width: 320px) and (max-width: 767px) {
.footer {
  background: #2f303a;
}
.footer__container {
  
  display: flex;
flex-direction: column;
padding-top: 72px;
}
.footer__title {
  color: var(--fourth-color);
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
}
.footer__input {
  min-width: 290px;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
}
.footer__sign-in {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--fourth-color);

  white-space: nowrap;
  margin-bottom: 20px;
}
.footer__item {
  list-style: none;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7142;

  &:not(:first-child) {
    margin-left: 10px;
  }
}
.footer__left-side {
  padding-top: 60px;
 display: flex;
 flex-direction: column;
 
}


.footer__list-item {
  font-style:normal;
  margin-bottom: 8px;
  font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.03em;


}

.footer__right-side {
  padding-top: 60px;
 white-space: nowrap;
}

.send-button {
  
  margin-top: 20px;
  cursor: pointer;
  padding-top: 13px;
  padding-left: 42px;
  padding-right: 28px;
  padding-bottom: 13px;

  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--fourth-color);
  border: none;
  white-space: nowrap;
}
.send-icon {
  height: 24px;
  width: 24px;
  margin-left: 24px;
}
}
@media screen and (min-width: 768px)  and (max-width: 1199px)  {
.footer {
  background: #2f303a;
}
.footer__container {
  display: flex;
  
flex-direction: column;
padding-top: 72px;
padding-bottom: 60px;
}
.footer__title {
  color: var(--fourth-color);
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 130px;
  
}
.footer__input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
}
.footer__sign-in {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--fourth-color);

  white-space: nowrap;
  margin-bottom: 20px;
  padding-left: 120px;
}
.footer__item {
  list-style: none;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7142;

  &:not(:first-child) {
    margin-left: 10px;
  }
}
.footer__left-side {
  padding-top: 60px;
  float: left;
  width: 50%;
  
}
.footer__right-side {
  padding-top: 20px;
  float: right;
  width: 50%;
}
.send-button {
  margin-left: 120px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding-top: 13px;
  padding-left: 42px;
  padding-right: 28px;
  padding-bottom: 13px;

  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;

  
  letter-spacing: 0.06em;
  color: var(--fourth-color);
  border: none;
  
  white-space: nowrap;
}
.send-icon {
  height: 24px;
  width: 24px;
  margin-left: 24px;
}
.footer__list-item{
 font-style:normal;
  margin-bottom: 8px;
  font-weight: normal;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.03em;
}

}

@media screen and (min-width: 1200px) {

.footer {
  background: #2f303a;
}
.footer__container {
  display: flex;
flex-direction: column;
padding-top: 72px;
}
.footer__title {
  color: var(--fourth-color);
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding-left: 16px;
}
.footer__sign-in {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--fourth-color);

  white-space: nowrap;
  margin-bottom: 20px;
}
.footer__item {
  list-style: none;
  margin-bottom: 9px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7142;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.footer-left__list {
  list-style: none;
  

  & .contact__address {
    color: var(--fourth-color);
  }
}


.footer__left-side {
  padding-top: 60px;
  float: left;
  width: 30%;
}
.footer__right-side {
  padding-top: 72px;
  float: right;
  width: 22%;
}
.newsletter__form {
  display: flex;
}
.send-icon {
  height: 24px;
  width: 24px;
  margin-left: 24px;
}
.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-top: 13px;
  padding-left: 42px;
  padding-right: 28px;
  padding-bottom: 13px;

  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  
  letter-spacing: 0.06em;
  color: var(--fourth-color);
  border: none;
  margin-left: 12px;
  white-space: nowrap;
}
}