
.container {
  width: 100%;
  padding: 0 15px;
 
  .hero & {
   max-width: 480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
 }
 .footer & {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
 }
 .lorem-ipsum & {
  text-align: center;
 }
}
.header__container{
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px)  and (max-width: 1199px)   {
.container {  max-width: 768px;
  margin: 0 auto;

  .hero & {
    flex-direction: column;
  }
  .footer & {
    flex-direction: row;
  flex-wrap: wrap;
  }
  .header & {
    display: flex;
  }
}
.header__container {
  padding-top: 0;
  padding-bottom: 8px;
}
}
@media screen and (min-width: 1200px) {
.header__container {
  padding-top: 0;
  padding-bottom: 8px;
}
  .container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  .footer & {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 60px;
  }
  .section & {
    flex-direction: column;
    
  }
}
}
